= form_for [:admin,@teacher], :html => { :multipart => true} do |f|
  -if @teacher.errors.any?
    %div#error_explanation
      %h2= pluralize(@teacher.errors.count, "error")
      %ul
      =@teacher.errors.full_messages.each do |msg|
        %li= msg
  %div.field
    = f.label :nom
    %br
    = f.text_field :name

  %div.field
    = f.label :cognoms
    %br
    = f.text_field :surname

  %div.field
    = f.label :email
    %br
    = f.text_field :email

  %div.field
    = f.label :password
    %br
    = f.password_field :password

  %div.field
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation

  %div.field
    = f.label :data_neixament
    %br
    = date_select("teacher", "birthday", :order => [:day, :month, :year], :start_year => 1900, :use_month_numbers => true, :default => { :day => 1, :month => 1 } )

  %div.field
    = f.label :departament
    %br
    = f.select :department_id, @departments.collect{|d| [d.name, d.id]},{:include_blank => true}

  %div.field
    = f.label :area_recerca
    %br
    = f.text_field :research_area

  %div.field
    = f.label :despatx
    %br
    = f.text_field :office

  %div.field
    = f.label :avatar
    %br
    = f.file_field :avatar

  %div.ations
    = f.submit
