= form_for [:admin,@teacher], :html => { :multipart => true} do |f|
  -if @teacher.errors.any?
    %div#error_explanation
      %h2= pluralize(@teacher.errors.count, "error")
      %ul
      =@teacher.errors.full_messages.each do |msg|
        %li= msg
  %div.field
    = f.label :name
    = f.text_field :name

  %div.field
    = f.label :surname
    = f.text_field :surname
    
  %div.field
    = f.label :email
    = f.text_field :email
    
  %div.field
    = f.label :password
    = f.password_field :password
    
  %div.field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  
  %div.field
    = f.label :birthday
    = date_select("teacher", "birthday", :order => [:day, :month, :year], :start_year => 1900, :use_month_numbers => true, :default => { :day => 1, :month => 1 } )

  %div.field
    = f.label :department_id
    = f.select :department_id, @departments.collect{|d| [d.name, d.id]},{:include_blank => true}

  %div.field
    = f.label :research_area
    = f.text_field :research_area

  %div.field
    = f.label :office
    = f.text_field :office

  %div.field
    = f.label :avatar
    = f.file_field :avatar

  %div.ations
    = f.submit
