%p
  %b Nom i cognom
  = @teacher.name + " " + @teacher.surname
  %p= image_tag @teacher.avatar_url.to_s

%p
  %b Data neixament
  = @teacher.birthday

%p
  %b Departament
  = @teacher.department.try(:name)

%p
  %b Àrea de recerca
  = @teacher.research_area

%p
  %b Despatx
  = @teacher.office

%p= link_to 'Editar', edit_admin_teacher_path(@teacher)
%p= link_to 'Llistat de professors', admin_teachers_path
