
<h1>Directori de professors classificats per departament</h1>


<% @departments.each do |department| %>
<h3>Professors del departament: <%= department.name %> </h3></ul>
  <% department.teachers.each do |b| %>
    <ul><li><%= image_tag b.avatar_url(:thumb).to_s  %> </li></ul>
    <ul>Name: <%= link_to b.name, teacher_path(b) %></ul>
    <ul>Research area: <%= b.research_area %></ul>
    <ul>Email: <%= b.user_id %></ul>
  <% end %>
<% end %>


<%= link_to 'Back to home', root_path %>