- unless @search.nil?
  %h1 Resultats de la búsqueda

  #search_bar
    .row
      - unless @web_search.empty? && @pages_search.empty?
        .span5
          %h3 Espais web
          %table{:class => "table table-striped"}
            %thead
              %td Nom
              %td Descripció
              %td Propietari
            %tbody
              - @web_search.each do |w|
                %tr
                  %td=link_to "#{w.name.upcase}", teacher_web_space_page_path(w.teacher.id,w,w.pages.first)
                  %td= w.content
                  %td=link_to "#{w.teacher.name} #{w.teacher.surname}", teacher_path(w.teacher.id)
              - @pages_search.each do |p|
                %tr
                  %td= link_to "#{p.name.upcase}", teacher_web_space_page_path(p.web_space.teacher.id,p.web_space.id,p)
                  %td= p.content.html_safe
                  %td= link_to "#{p.web_space.teacher.name}", teacher_path(p.web_space.teacher.id)

      - unless @search.empty?
        .span5
          %h3 Professors
          %table{:class => "table table-striped"}
            %thead
              %td
              %td Nom
              %td Àrea
              %td Email
            %tbody
              - @search.each do |s|
                %tr
                  %td= image_tag(s.avatar_url.to_s, :title => "#{s.name} #{s.surname}", :alt => "#{s.name} #{s.surname}")
                  %td= link_to "#{s.name} #{s.surname}", teacher_path(s)
                  %td= s.research_area
                  %td= s.email

      - if @search.empty? && @pages_search.empty? && @web_search.empty?
        %p= "No s'han trobat resultat amb la búsqueda realitzada"

- else
  .row
    %h1.span12= t('.title')

  .row
    #webspaces.span6
      %h3= t('.webspaces')

      %table{:class => "table table-striped"}
        %tbody
          - @webspaces.each do |espai|
            %tr
              %td= link_to espai.name.upcase, teacher_web_space_page_path(espai.teacher, espai, espai.pages.first)
              %td= espai.content
              %td= image_tag espai.teacher.avatar_url
              %td= link_to "#{espai.teacher.name}", teacher_path(espai.teacher)
              %td= "[#{espai.updated_at.strftime('%d/%m/%Y')}]"

    #teachers.span5
      %h3= t('.latest')

      %table{:class => "table table-striped"}
        %tbody
          - @teachers.each do |teacher|
            %tr
              %td= image_tag teacher.avatar_url
              %td= link_to("#{teacher.name} #{teacher.surname}", teacher_path(teacher))
              %td= teacher.research_area
              %td= "[#{teacher.created_at.strftime('%d/%m/%Y')}]"

    #tweets.span11
      %h3= t('.tweets')
      %table{:class => "table table-bordered"}
        %tbody
          %tr
            %td= "Mireu aquest article! www.cmsweb.com"
            %td= "Teacher0 Surname0"
          %tr
            %td= "Molt útil i fàcil!"
            %td= "Teacher1 Surname1"
          %tr
            %td= "Llegiu aquest article, és molt convincent!"
            %td= "Teacher2 Surname2"
          %tr
            %td= "Això marcarà un abans i un després"
            %td= "Teacher1 Surname1"
          %tr
            %td= "Mireu aquest article! www.cmsweb.com"
            %td= "Teacher0 Surname0"

