%h1 Últimes Novetats


- unless @search.nil?
  #search_bar
    %h3 Resultats
    - if @search.empty?
      %p No hi ha resultats amb la búsqueda realitzada.
    - else
      %ul
      - @search.each do |s|
        %li= link_to "#{s.name} #{s.surname}", teacher_path(s)
- else
  #webspaces
    %h3 Espais webs
    %ul
    - @webspaces.each do |espai|
      #web{:id => espai.name}
        %li
          .espai= link_to espai.name, teacher_web_space_path(current_user, espai)
          .owner= " actualitzat per " + espai.teacher.name + " " + espai.teacher.surname + " " + espai.updated_at.strftime('%H:%M - %d/%m/%Y').to_s

  #teachers
    %h3 Últims professors donats d'alta
    %ul
    - @teachers.each do |teacher|
      #teacher{:id => teacher.name}
        %li
          .name= link_to "#{teacher.name} #{teacher.surname}", teacher_path(teacher)
          .date= " donat d'alta " + teacher.created_at.strftime('%H:%M - %d/%m/%Y').to_s
