%h1= t('.create')

= form_for [@teacher, @web_space, @page], :validate => true do |f|
  .name
    %br
    = f.label :name, t('.add')
    = f.text_field :name
  .actions
    = f.submit "Seguir", :class => "btn btn-primary"
