%h1= "Creació de la pàgina"

= form_for [@teacher, @web_space, @page], :validate => true do |f|
  .name
    = f.label :name, "Títol de la pàgina"
    %br
    = f.text_field :name
  .actions
    = f.submit "Seguir"
