<h1>Listing web_spaces</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Teacher</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @web_spaces.each do |web_space| %>
  <tr>
    <td><%= web_space.name %></td>
    <td><%= web_space.teacher.name %></td>
    <td><%= link_to 'Show', web_space %></td>
    <td><%= link_to 'Edit', edit_web_space_path(web_space) %></td>
    <td><%= link_to 'Destroy', web_space, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Web space', new_web_space_path %>
<%= link_to 'Back', root_path %>

