%h1= t('.title')

%table{:class => "table table-bordered table-striped"}
  %thead
    %tr
      %td= sort_link @search, t('.name')
      %td= sort_link @search, t('.description')
      %td= sort_link @search, t('.owner')
      %td= sort_link @search, t('.research')
      %td

  %tbody
    - @web_spaces.each do |web_space|
      %tr
        %td= web_space.name.upcase
        %td= web_space.content
        %td= web_space.teacher.email
        %td= web_space.teacher.research_area
        %td
          =link_to t('.show'), teacher_web_space_page_path(@teacher, web_space, web_space.pages.first), :class => "btn btn-small"

.pagination
  = will_paginate(@web_spaces, :renderer => WillPaginate::ActionView::LinkRenderer)
