%h1 Directori d'espais web

%table#web_space
  %tr
    %th Títol
    %th Propietari
    %th Email

  - @web_spaces.each do |web_space|
    %tr
      %td= link_to web_space.name, teacher_web_space_path(@teacher, web_space)
      %td= web_space.teacher.name
      %td= web_space.teacher.email
      %td
        - if @teacher == current_user
          = link_to 'Eliminar', teacher_web_space_path(@teacher, web_space), :confirm => 'Estàs segur?', :method => :delete

- if @teacher == current_user
  = link_to 'Crear Espai Web', new_teacher_web_space_path(@teacher)
