%h1= "Creació d'un nou espai web per " + @teacher.name + " " + @teacher.surname

= form_for [@teacher, @web_space], :validate => true do |f|
  %div.name
    = f.label :Nom_espai
    %br
    = f.text_field :name
  %div.actions
    = f.submit "Seguir"
