%p#notice= notice

%p
  %b Name
  = @web_space.name

%p
  %b Teacher
  = @web_space.teacher_id
  
= raw @web_space.content

= link_to 'Edit', edit_web_space_path(@web_space)
= link_to 'Back', root_path
