<%= form_for @teacher, :html => { :multipart => true} do |f| %>
  
  <% if @teacher.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

        <ul>
        <% @teacher.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :surname %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= date_select("teacher", "birthday", :order => [:day, :month, :year], :start_year => 1900, :use_month_numbers => true, :default => { :day => 1, :month => 1 } )	%>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.select :user_id, @users.collect{|u| [u.email, u.id]},{:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br />
		<%= f.select :department_id, @departments.collect{|d| [d.name, d.id]},{:include_blank => true} %>
  </div>
  <div class="field">
    <%= f.label :research_area %><br />
    <%= f.text_field :research_area %>
  </div>
  <div class="field">
    <%= f.label :office %><br />
    <%= f.text_field :office %>
  </div>
  <div>
    <%= f.label :avatar %><br />
    <%= f.file_field :avatar %>
  </div> 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
