%h1 Edita el teu perfil

#edit_teacher
  = form_for @teacher, :validate => true do |f|
    %div.field
      = f.label :Nom
      %br
      = f.text_field :name

    %div.field
      = f.label :Cognoms
      %br
      = f.text_field :surname

    %div.field
      = f.label :Email
      %br
      = f.text_field :email

    %div.field
      = f.label :Contrasenya
      %br
      = f.password_field :password

    %div.field
      = f.label :Confirmacio_contrasenya
      %br
      = f.password_field :password_confirmation

    %div.field
      = f.label :Data_neixament
      %br
      = date_select("teacher", "birthday", :order => [:day, :month, :year], :start_year => 1900, :use_month_numbers => true, :default => { :day => 1, :month => 1 } )

    %div.field
      = f.label :Departament
      %br
      = f.select :department_id, @departments.collect{|d| [d.name, d.id]}

    %div.field
      = f.label :Area_de_recerca
      %br
      = f.text_field :research_area

    %div.field
      = f.label :Oficina
      %br
      = f.text_field :office

    %div.field
      = f.label :Foto_perfil
      %br
      = f.file_field :avatar

    %div.ations
      = f.submit "Actualitzar dades", :class => :btn
      = link_to "Enllaçar Twitter", '/auth/twitter'
