%h1= t('.title')

#edit_teacher
  = form_for @teacher, :validate => true do |f|
    = f.label t('.name')
    = f.text_field :name

    = f.label t('.surname')
    = f.text_field :surname

    = f.label t('.email')
    = f.text_field :email, autocomplete: "off"

    = f.label t('.password')
    = f.password_field :password, autocomplete: "off"

    = f.label t('.confirmation')
    = f.password_field :password_confirmation

    = f.label t('.birthday')
    = date_select("teacher", "birthday", :order => [:day, :month, :year], :start_year => 1900, :use_month_numbers => true, :default => { :day => 1, :month => 1 } )

    = f.label t('.department')
    = f.select :department_id, @departments.collect{|d| [d.name, d.id]}

    = f.label t('.research')
    = f.text_field :research_area

    = f.label t('.office')
    = f.text_field :office

    = f.label t('.avatar')
    = f.file_field :avatar

    %br
    = f.submit t('.update'), :class => "btn btn-success"
    = link_to t('.twitter'), '/auth/twitter', :class => "btn btn-primary"
