%h1= t('.title')

%table{:class => "table table-bordered table-striped"}
  %thead
    %tr
      %td
      %td= sort_link @search, t('.name')
      %td= sort_link @search, t('.surname')
      %td= sort_link @search, t('.email')
      %td= sort_link @search, t('.research')
      %td

    %tbody
    - @teachers.each do |teacher|
      %tr
        %td= image_tag teacher.avatar_url
        %td= teacher.name
        %td= teacher.surname
        %td= teacher.email
        %td= teacher.research_area
        %td
          = link_to t('.see'), teacher, :class => "btn btn-small"

.pagination{:class => "pagination-centered"}
  = will_paginate @teachers
