<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Last surname</th>
    <th>Birthday</th>
    <th>Email</th>
    <th>Department</th>
    <th>Research area</th>
    <th>Office</th>
    <th>Avatar</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.name %></td>
    <td><%= teacher.surname %></td>
    <td><%= teacher.last_surname %></td>
    <td><%= teacher.birthday %></td>
    <td><%= teacher.user_id %></td>
    <td><%= teacher.department.name %></td>
    <td><%= teacher.research_area %></td>
    <td><%= teacher.office %></td>
    <td><%= image_tag teacher.avatar_url(:thumb).to_s %></td>
    <td><%= link_to 'Show', teacher %></td>
    <td><%= link_to 'Edit', edit_teacher_path(teacher) %></td>
    <td><%= link_to 'Destroy', teacher, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_teacher_path %>
<br />
<%= link_to 'Back to home', root_path %>
