%h1 Professors i investigadors

%table#departments
  %thead
    %tr
      %td= "Perfil"
      %td= sort_link @search, :name
      %td= sort_link @search, :surname
      %td= sort_link @search, :email
      %td= sort_link @search, :research_area
      %td= "Accions"

    %tbody
    - @teachers.each do |teacher|
      %tr
        %td= image_tag teacher.avatar_url
        %td= teacher.name
        %td= teacher.surname
        %td= teacher.email
        %td= teacher.research_area
        %td
          %ul
            %li= link_to "Veure perfil", teacher
            - if teacher == current_user
              %li= link_to "Modificar dades", edit_teacher_path(current_user)

  = will_paginate @teachers
