#departments
  - @departments.each do |department|
    .department{:id => department.name}
      - if !department.teachers.empty?
        %h3= department.name
        - department.teachers.each do |t|
          .image= image_tag(t.avatar_url.to_s, :title => t.email, :alt => t.email)
          %dl
            %dt Nom:
            %dd= t.name
            %dt Cognoms:
            %dd= t.surname
            %dt Àrea de recerca:
            %dd= t.research_area
            %dt Correu electrònic:
            %dd= t.email
            %dt Despatx:
            %dd= t.office
