%h1 Teachers directory

- @departments.each do |department|
  %ul#profile
  - if !department.teachers.empty?
    %h3= department.name
    - department.teachers.each do |t|
      %li= image_tag(t.avatar_url.to_s, :title => t.email, :alt => t.email)
      %li= "Nom: " + t.name
      %li= "Cognom: " + t.surname
      %li= "Àrea de recerca: " + t.research_area
      %li= "Correu electrònic: " + t.email
      %li= "Despatx: " + t.office
%p= link_to 'Tornar', root_path
