%h1 Professors i investigadors

#departments
  - @departments.each do |department|
    %ul.department{:id => department.name}
      - if !department.teachers.empty?
        %h2= department.name
        - department.teachers.each do |t|
          %ul.teacher{:id => t.id}
            .avatar=  image_tag(t.avatar_url.to_s, :title => t.name + " " + t.surname, :alt => t.name + " " + t.surname)
            %li
              .name= link_to("#{t.name.to_s} " " #{t.surname.to_s}", teacher_path(t))
              .email= t.email.to_s
              = "Despatx: " + t.office.to_s
              %br
              = "Recerca: " + t.research_area.to_s
              %br
              .spaces
                = link_to("Espais web", teacher_web_spaces_path(t.id))
                = "(#{t.web_spaces.count})"
