%h1= t('.title')

%table{:class => "table table-bordered table-striped"}
  %thead
    %tr
      %td= t('.profile')
      %td= sort_link @search, t('.name')
      %td= sort_link @search, t('.surname')
      %td= sort_link @search, t('.email')
      %td= sort_link @search, t('.research')
      %td= t('.actions')

    %tbody
    - @teachers.each do |teacher|
      %tr
        %td= image_tag teacher.avatar_url
        %td= teacher.name
        %td= teacher.surname
        %td= teacher.email
        %td= teacher.research_area
        %td
          %ul
            %li= link_to t('.see'), teacher
            - if teacher == current_user
              %li= link_to t('.update'), edit_teacher_path(current_user)

  = will_paginate @teachers
