<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @teacher.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @teacher.surname %>
</p>

<p>
  <b>Last surname:</b>
  <%= @teacher.last_surname %>
</p>

<p>
  <b>Birthday:</b>
  <%= @teacher.birthday %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.user_id %>
</p>

<p>
  <b>Department:</b>
  <%= @teacher.department.name %>
</p>

<p>
  <b>Research area:</b>
  <%= @teacher.research_area %>
</p>

<p>
  <b>Office:</b>
  <%= @teacher.office %>
</p>

<p>
  <b>Avatar:</b>
  <%= image_tag @teacher.avatar_url(:thumb).to_s %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
