<div id="sign_in">
  <h2>Entra al teu compte:</h2>

  <div id="in">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.label :email  %>
      <%= f.email_field :email %>

      <%= f.label :contrasenya %>
      <%= f.password_field :password %>

      <%= f.submit "Entrar" %>
    <% end %>
  </div>
</div>
<div id="cover">
  <p id="title">El portal web pels investigadors i professors et permet:</p>
  <ul>
    <li class="odd"> Crear i gestionar els teus espais web </li>
    <li class="even"> Utilitzar el teu espai com vulguis </li>
    <li class="odd"> Buscar contactes </li>
    <li class="even"> Visitar els espais d'altres investigadors i professors </li>
    <li class="odd"> Editar el teu perfil d'usuari </li>
    <li class="even"> Veure les últimes notícies </li>
  </ul>
</div>
