<div id="sign_in">
  <h2>Entra al teu compte</h2>

  <div id="in">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.label :email  %>
      <%= f.email_field :email %>

      <%= f.label :contrasenya %>
      <%= f.password_field :password %>

      <%= f.submit "Entrar" %>
    <% end %>
  </div>
</div>
<div id="cover">
  <p id="title">El portal web pels investigadors i professors et permet:</p>
  <ul>
    <li> Crear i gestionar els teus espais web </li>
    <li> Utilitzar el teu espai com vulguis </li>
    <li> Buscar contactes </li>
    <li> Visitar els espais d'altres investigadors i professors </li>
    <li> Editar el teu perfil d'usuari </li>
    <li> Veure les últimes notícies </li>
  </ul>
</div>
