!!! html
%html
  %head
    %title PFC - Gestor de contingut
    %meta{:charset => "utf-8"}
    = csrf_meta_tag
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = javascript_include_tag 'ckeditor/ckeditor' 	
  %body
    #wrapper
      #header
        %ul#user_nav
          - if user_signed_in?
            %li= link_to "Sortir", destroy_user_session_path
          - else
            %li= link_to "Registrar-se", new_user_registration_path 
            %li= link_to "Entrar", new_user_session_path
        %ul#menu
          - if user_signed_in?
            %li= link_to "Notícies", root_path
            %li= link_to "Gestionar els meus espai webs", teacher_web_spaces_path(current_user)
            %li= link_to "Espais webs", teacher_web_spaces_path(current_user)
            %li= link_to "Professors i investigadors", teachers_path
      #content
        - unless flash[:notice].nil?
          %p.flash= flash[:notice]
        = yield
      #footer
        - if user_signed_in? && current_user.admin?
          %li= link_to "Professors", admin_teachers_path
          %li= link_to "Departaments", admin_departments_path

